html {
    font-family: 'Outfit', sans-serif;
    
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

section {
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    border: 0.9em solid white;
    border-radius: 1em;
    background-color: white;
    width: 17em;
    height: 27em;
}

img {
    border-radius: 0.5em;
    width: 17em;
}

.headLine {
    color: hsl(218, 44%, 22%);  
    font-weight: 700;
    margin-bottom: 0.7em;
    font-size: 1.3em;
}

.firstParagraph {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 0.9em;
}

footer{
    width: 19em;
    margin: 0 auto;
}
.attribution {
    font-size: 0.67em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    section {
        margin: 0 auto;
    }
}
